.nav {
  display: flex;
  justify-content: space-between;
  margin: 24px 18px 0 24px;
}

.nav-link {
  text-decoration: none;
  color: #072256;
  font-size: 18px;
}

#hamburger-icon {
  background-size: cover;
  background-image: url("../assets/Hamburger-white-round@2x.png");
}

#hamburger-icon-blue {
  background-size: cover;
  display: none;
  background-image: url("../assets/Hamburger-navy-round@2x.png");
}

#x-icon {
  background-size: cover;
  background-image: url("../assets/x-navy-mob@2x.png");
  display: none;
}

@media (min-width: 320px) {
  .icon {
    height: 20px;
    width: 20px;
  }
}

@media (min-width: 768px) {
  .icon {
    height: 25px;
    width: 25px;
  }

  .nav-link {
    font-size: 30px;
  }
}

/* @media (min-width: 1024px) {
  .icon {
    height: 45px;
    width: 45px;
  }

  .nav-link {
    font-size: 48px;
  }
} */
