.nav {
  display: flex;
  justify-content: space-between;
  margin: 24px 18px 0 24px;
}

.nav-link {
  text-decoration: none;
}

#hamburger-icon {
  background-size: cover;
  background-image: url("../assets/Hamburger-white-round@2x.png");
}

#x-icon {
  background-size: cover;
  background-image: url("../assets/x-navy-mob@2x.png");
  display: none;
}

@media (max-width: 700px) {
  .icon {
    height: 25px;
    width: 25px;
  }
}

@media (min-width: 700px) {
  .icon {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 1024px) {
  .icon {
    height: 45px;
    width: 45px;
  }
}
