@import "nav.css";
@import "menu.css";

* {
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "M PLUS 1p", sans-serif;
}

.mitchell-title {
  color: white;
  font-weight: 700;
  text-align: center;
}

.artists-title {
  color: white;
  font-weight: 400;
  text-align: end;
}

/* #home-logo-container {
  padding-bottom: 66px;
} */

#main-container {
  background-color: #072256;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: background-color 0.5s;
}

#content-container {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-corner {
  text-decoration: none;
  display: none;
}

#left-corner {
  visibility: hidden;
  position: relative;
}

.logo-title-corner {
  padding: 16px 16px 0 20px;
}

#left-corner::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
}

.logo-title-corner::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
}

#footer {
  visibility: hidden;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

#footer::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#right-corner {
  visibility: hidden;
}

#right-corner::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#mitchell-title-corner {
  visibility: hidden;
  color: #072256;
  font-weight: 700;
}

#artists-title-corner {
  visibility: hidden;
  color: #072256;
  text-align: end;
  font-weight: 700;
}

#about-container {
  display: none;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: #072256;
}

#contact-container {
  display: none;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  color: #072256;
}

#copyright-container {
  visibility: hidden;
  color: #072256;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------- media queries ------------- */

@media screen and (max-width: 320px) {
  .about-title {
    font-size: 20px;
  }

  .mitchell-title {
    font-size: 20px;
  }

  .artists-title {
    font-size: 10px;
  }

  .about-body {
    font-size: 12px;
  }

  .contact-body {
    font-size: 16px !important;
  }

  #copyright-container {
    left: 160px !important;
  }
}

@media screen and (max-width: 700px) {
  .mitchell-title {
    font-size: 30px;
    letter-spacing: 2px;
  }

  .artists-title {
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: -7px;
  }

  #left-corner::after {
    height: 80px;
    border-left: 2px solid #072256;
  }

  .logo-title-corner::after {
    width: 90px;
    border-top: 2px solid #072256;
  }

  #footer::after {
    height: 80px;
    border-right: 2px solid #072256;
  }

  #right-corner::after {
    width: 90px;
    border-bottom: 2px solid #072256;
  }

  #mitchell-title-corner {
    font-size: 26px;
    letter-spacing: 2px;
  }

  #artists-title-corner {
    font-size: 13px;
    letter-spacing: 3px;
  }

  #about-container {
    height: 60%;
    margin: 54px 36px 18px 36px;
  }

  .about-body-container {
    padding-top: 36px;
    font-weight: 200;
  }

  .about-body {
    margin-bottom: 12px;
  }

  .about-title {
    font-size: 20px;
  }

  #contact-container {
    height: 60%;
    margin-top: 24px;
    margin: 57px 36px 18px 36px;
  }

  .contact-body-container {
    margin-top: 3px;
    padding-top: 36px;
    font-weight: 200;
  }

  .contact-body {
    margin-bottom: 12px;
    font-size: 18px;
  }

  .contact-title {
    font-size: 20px;
  }

  #copyright-container {
    font-size: 9px;
  }
}

@media screen and (min-width: 700px) {
  .mitchell-title {
    font-size: 50px;
    letter-spacing: 2px;
  }

  .artists-title {
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: -14px;
  }

  #left-corner::after {
    height: 100px;
    border-left: 2px solid #072256;
  }

  .logo-title-corner::after {
    width: 120px;
    border-top: 2px solid #072256;
  }

  #footer::after {
    height: 100px;
    border-right: 2px solid #072256;
  }

  #right-corner::after {
    width: 120px;
    border-bottom: 2px solid #072256;
  }

  #mitchell-title-corner {
    font-size: 38px;
    letter-spacing: 2px;
  }

  #artists-title-corner {
    font-size: 19px;
    letter-spacing: 3px;
  }

  #about-container {
    height: 65%;
    margin: 54px 60px 18px 60px;
  }

  .about-body-container {
    padding-top: 30px;
    font-weight: 200;
  }

  .about-body {
    margin-bottom: 18px;
    font-size: 24px;
  }

  .about-title {
    font-size: 30px;
  }

  #contact-container {
    height: 65%;
    margin-top: 24px;
    margin: 72px 60px 18px 60px;
  }

  .contact-body-container {
    margin-top: 3px;
    padding-top: 54px;
    font-weight: 200;
  }

  .contact-body {
    margin-bottom: 12px;
    font-size: 24px;
  }

  .contact-title {
    font-size: 30px;
  }

  #copyright-container {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  #about-container {
    height: 65%;
    margin: 54px 70px 18px 70px;
  }
}

@media screen and (min-width: 1024px) {
  .mitchell-title {
    font-size: 80px;
    letter-spacing: 2px;
  }

  .artists-title {
    font-size: 40px;
    letter-spacing: 3px;
    margin-top: -28px;
  }

  #home-logo-container {
    padding-bottom: 0px;
  }

  #left-corner::after {
    height: 120px;
    border-left: 3px solid #072256;
  }

  .logo-title-corner::after {
    width: 140px;
    border-top: 3px solid #072256;
  }

  #footer::after {
    height: 120px;
    border-right: 3px solid #072256;
  }

  #right-corner::after {
    width: 140px;
    border-bottom: 3px solid #072256;
  }

  #mitchell-title-corner {
    font-size: 48px;
    letter-spacing: 2px;
  }

  #artists-title-corner {
    font-size: 24px;
    letter-spacing: 3px;
  }

  #about-container {
    height: 65%;
    margin: 42px 90px 18px 90px;
  }

  .about-body-container {
    padding-top: 0px;
    font-weight: 200;
  }

  .about-body {
    margin-bottom: 24px;
    font-size: 30px;
  }

  .about-title {
    font-size: 42px;
  }

  #contact-container {
    height: 65%;
    margin-top: 24px;
    margin: 126px 60px 18px 60px;
  }

  .contact-body-container {
    margin-top: 3px;
    padding-top: 54px;
    font-weight: 200;
  }

  .contact-body {
    margin-bottom: 12px;
    font-size: 34px;
  }

  .contact-title {
    font-size: 42px;
  }

  #copyright-container {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .mitchell-title {
    font-size: 130px;
    letter-spacing: 10px;
  }

  .artists-title {
    font-size: 55px;
    letter-spacing: 3px;
    margin-top: -42px;
  }

  #home-logo-container {
    padding-bottom: 0px;
  }

  #about-container {
    height: 65%;
    margin: 72px 300px 18px 300px;
  }

  .about-body {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
